<section id="newPost">
  <h2>Create New Post</h2>

  {{!-- OPTION2 /api/posts --}}
<form class="new-post-form" enctype="multipart/form-data" action="/api/posts" method="post">
  <div class="form-group">
    <input type="file" class="form-control-file" name="uploaded_file">
    {{!-- <input type="submit" value="Upload!" class="btn btn-default"> --}}
  </div>
    <div>
      <input type="text" id="post-title" name="title" placeholder="title" />
    </div>
    <div>
      <input id="post-url" name="post_url" placeholder="description"/>
    </div>
  

      <button id="swapIt" type="submit" class="btn"> Swap it! </button>
</form>
</section>

{{#if posts.length}}
<section id="yourPost">
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}