<section data-ng-init='initialize()'>

  <section class="newPost">
    <h1>Create New Post</h1>
      {{!-- OPTION2 /api/posts --}}
      <form action="/api/posts" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <input type="file" class="form-control-file" name="uploaded_file">
          {{!-- <input type="submit" value="Upload!" class="btn btn-default"> --}}
        </div>
        <div>
          <label for="title">Swap Title</label>
          <input type="text" id="post-title" name="title" />
        </div>
        <div>
          <label for="post_url">Swap description</label>
          <input id="post-url" name="post_url" />
        </div>



        {{!-- BUTTON WORKS - DONT DELETE --}}
        <button type="submit" class="btn-style"> Swap it! </button>
      </form>
  </section>

  {{#if posts.length}}

  <section class="post-list">
    <div></div>
    <ol>
      {{#each posts as |post|}}
      <li>
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      </li>
      {{/each}}
    </ol>
  </section>
  {{/if}}
</section>
{{!--
<script src="/javascript/add-post.js"></script> --}}
