<section>
  <h2>Create New Post</h2>



<form action="/api/posts" enctype="multipart/form-data" method="post">
  <div class="form-group">
    <input type="file" class="form-control-file" name="uploaded_file">
    {{!-- <input type="submit" value="Upload!" class="btn btn-default"> --}}
  </div>
    <div>
      <label for="title">Swap Title</label>
      <input type="text" id="post-title" name="title" />
    </div>
    <div>
      <label for="description">Swap description</label>
      <input id="description" name="description" />
    </div>
    
    
    
    {{!-- BUTTON WORKS - DONT DELETE --}}
      <button type="submit" class="btn"> Swap it! </button>
</form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>