<section class="main-wrap"> 
<section id='map-canvas' data-ng-init='initialize()'>
  </section>


<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
</section>
<script src="/public/services/map.js"></script>