<div class="float-left">
  <img src="/public/stylesheets/images/logo.png">
</div>


<div class="float-right">
<p> You wanna trade stuff with strangers on the internet? Use Barter.</p>
<p> You don't? Why are you here?</p>
<ul id="choicesUl"></ul>
<button id="startSwapin">Start Swapin'!</button>
</div>