<section class="main-wrap">
  <section data-ng-init='initialize()'>
    <div class="form" id="login-form">
      <form class="login-form">
          <h1>Login</h1>
          <div>
            <input type="text" id="email-login" placeholder="email"/>
          </div>
          <div>
            <input type="password" id="password-login" placeholder="password"/>
          </div>
          <div id="submit">
            <button type="submit">login</button>
          </div>
      </form>
    </div>

    <div class="form" id="signup-form">
      <form class="signup-form">
        <h1>Sign Up</h1>
         <div>
          <input type="text" id="username-signup" placeholder="username"/>
        </div>
        <div>
          <input type="text" id="email-signup" placeholder="email"/>
        </div>
        <div>
          <input type="password" id="password-signup" placeholder="password" />
        </div>
        <div class="submit">
          <button type="submit">sign up</button>
        </div>
      </form>
    </div>
  </section>
</section>

<script src="/javascript/login.js"></script>