<form action="/api/posts/stats" enctype="multipart/form-data" method="post">
  <div class="form-group">
    <input type="file" class="form-control-file" name="uploaded_file">
    <input type="text" class="form-control" name="title">
     
    <input type="text" class="form-control" name="post_url">

    <input type="submit" value="Get me the stats!" class="btn btn-default">
  </div>
</form>