:root{
  --teal:teal;
  --lg:lightgrey;
}

h1{
  color: var(--teal);
}
h2 {
  color: var(--teal);
  margin-left: 100px;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.btn-style {
  background: var(--teal);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
  margin-right: 50px;
  float: left;
}

#add-com {
  background: var(--teal);
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 100%;
  font-weight: bold;
  float: left;
  border-radius: 5px;
  transition: color 0.1s;
}

button {
  background: var(--teal);
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 100%;
  font-weight: bold;
  float: left;
  border-radius: 5px;
}

img {
  margin-top: 20px;
  margin-bottom: 20px; 
}

#single-post-img {
  margin-left: 15px;
}

/* html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
} */

/* a {
  text-decoration: none;
  color: var(--teal);
  font-weight: bold;
  transition: color 0.1s;
} */

#map-canvas {
  height: 500px;
  width: 45%;
  float: left;
  border: 3px solid #000;
  border-radius: 5px;
  margin: 20px 5px 20px 20px;
  background-image: url('/stylesheets/images/HomeImg.jpg');
  background-size:cover;
  background-position: center;
}

.post-list {
  width: 45%;
 margin: 20px 20px 5px 20px;
  padding: 0;
  float:right;
  height: 500px;
  overflow: scroll;
}

#post-list {
  margin-top: 55px;
  margin-bottom: 15px;
  padding: 15px;
  width: 300px;
}

#newCom {
  width:300px;
}

h3 {
  color: var(--teal);
  text-align: center;
}

footer {
  border-top: 1px solid #ccc;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
} 


header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  width: 100%;
}

.form {
  border: 5px solid #000;
  margin: 20px;
  padding: 15px;
  width: 45%;
  height: 200px;
}

.form-group {
  margin: 2px;
}

.submit {
  margin-top: 5px;
  border-radius: 5px;
}

.container {
  float:right;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#signup-form {
  float: right;
  padding: 20px; 
  height: 250px;
}

#login-form {
  float: left;
  margin-bottom: 300px;
}

#yourPost {
float: right;
margin: 20px 50px 20px 5px;
width: 35%;
border: 5px solid #000;
padding: 5px;

}

.new-post-form {
  margin-top: 15px;
}


#newPost{
  height: 300px;
  width: 45%;
  float: left;
  margin: 20px 5px 20px 50px;
  border: 5px solid #000;
  padding: 25px;
}
#swapIt {
  background: var(--teal);
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 100%;
  font-weight: bold;
  float: left;
  border-radius: 5px;
  margin-top: 5px;
}
.back {
  float:left;
}

.comment-form {
  margin: 100px 0px 5px 15px;
  width: 45%;
}
#comment-form {
  margin-left: 100px;
}

.upvote-btn {
  background: var(--teal);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
  margin-right: 50px;
  float: left;
}

#com-btn {
  background: var(--teal);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
  margin-right: 50px;
  float: left;
}
 .post {
   margin-left: 20px;
 }

 .meta {
  margin-left: 20px;
 }

 .curPo {
  float: left;
  height: 500px;
  width: 45%;
  margin: 20px;
}

.edit-post-form {
  margin-left: 100px;
}

#edit-btns {
  margin-top: 10px;
}
#edit-com {
  margin: 100px 0 50px 100px;
}

#edit-post-box {
  height: 150px;
  width: 250px;
}


/* .createPost {
  border: solid 5px #000;
  width: 45%;
  height: 500px;
  float: left;
} */



/* refresh ends*/

/* 

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: var(--teal);
}

.searchButton {

  background: var(--teal);
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
}


*/
