<section class='wrapper'>
    <section class='box sidebar login'>
      <h1 class='logo'>Barter</h1>
      <hr/>
      <h1>Why use Barter?</h1>
      <p> You wanna trade stuff with strangers on the internet? Use Barter.</p>
      <p> You don't? Why are you here?</p>
      <hr/>
      <h1>How to:</h1>
      <ol>
        <li>Log in</li>
        <li> Use our map to browse items or services within your community </li>
        <li>Find an item or services you like and start your trade</li>
      </ol>
      <hr/>
      <button>Login </button>
    </section>
    <section class='login' id='map-canvas' data-ng-init='initialize()'>
    </section>
  </section>
  